body {
  background-color: black;
  height: 100%; }

h1 {
  color: whitesmoke;}

form {
  color: whitesmoke; }

.logo-imagen {
  height: 200px;
  animation: logo_efecto 5s ease-in-out 0s infinite normal forwards; }

.parrafo {
  display: block;
  margin: 0%; }

.nav-enlace {
  display: inline-block;
  background: black;
  color: whitesmoke;
  padding: 10px 30px;
  text-decoration: none; }

.nav-enlace {
  background: linear-gradient(to right, #3d3e69, #2057bd), linear-gradient(to right, red, #ff00b4, #0064c8);
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms; }

.nav-enlace:hover {
  background-size: 0 3px, 100% 3px; }

nav {
  background-color: black; }

.encabezado {
  background-color: black;
  text-align: center; }

#inlineFrameExample {
  background-color: black;
  display: block; }

.footer-section {
  color: whitesmoke;
  text-decoration: none;
  padding: 10px 30px;
  overflow: hidden; }

.diplomas {
  color: whitesmoke;
  margin: 0%; }

.cuadro-diplomas {
  color: whitesmoke;
  background-color: #0b2d4d;
  width: 100%;
  border: 10px solid #26509c; }

.footer-section {
  display: flex;
  flex-direction: column;
  height: 100%; }

.cuadro-diplomas {
  background: linear-gradient(to top, #291155, #072370);
  margin: 0%;
  color: whitesmoke; }

.diplomas {
  background: linear-gradient(90deg, #161155, #072449);
  color: whitesmoke;
  padding: 0%;
  border-color: green;
  border-width: 100px; }

@keyframes logo_efecto {
  0% {
    animation-timing-function: ease-in;
    opacity: 0.2;
    transform: translateX(500px); }
  24% {
    opacity: 0.3; }
  40% {
    animation-timing-function: ease-in;
    transform: translateX(-500px);
    opacity: 0.5; }
  65% {
    animation-timing-function: ease-in;
    transform: translateX(13px);
    opacity: 0.7; }
  82% {
    animation-timing-function: ease-in;
    transform: translateX(-6.5px);
    opacity: 0.85; }
  93% {
    animation-timing-function: ease-in;
    transform: translateX(-4px);
    opacity: 1; }
  25%,
  55%,
  75%,
  87%,
  98% {
    animation-timing-function: ease-out;
    transform: translateX(0px); }
  100% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0px); } }

.accordion-body {
  background-color: #260a88;
  color: whitesmoke; }

@media only screen and (max-width: 800px) {
  .cuadro-diplomas {
    width: 90%; } }

.footer-enlace {
  background: linear-gradient(90deg, #161155, #072449);
  color: whitesmoke;
  width: 100%; }
