$color-body: black;
$color-titulo: whitesmoke;
$color-form: whitesmoke;
$color-nav: whitesmoke;
$background-color-nav: black;
$height-logo-imagen: 200px;
$padding-nav: 10px 50px;
$font-family:  'Times New Roman', Times, serif; 
@media only screen and (max-width: 800px) {
      width: 90%;
    }