$color-body: black;
$color-titulo: whitesmoke;
$color-form: whitesmoke;
$color-nav: whitesmoke;
$background-color-nav: black;
$height-logo-imagen: 200px;
$padding-nav: 10px 3px;
body{
  color: $color-body;
}
h1{
    color: $color-titulo;
}
form{
    color: $color-form
}
nav{
    background-color: $background-color-nav
}
.logo-imagen{
    height: $height-logo-imagen;
    animation: logo_efecto 5s ease-in-out 0s infinite normal forwards;
}
.nav-enlace{
    display: inline-block;
    color: $color-nav;
    padding: $padding-nav;
    text-decoration: none;
}
.nav-enlace {
    text-decoration: none;
    text-align: center;
  } 
.nav-enlace {
    background:
      linear-gradient(
        to right,
        rgb(61, 62, 105),
        rgb(32, 87, 189)
      ),
      linear-gradient(
        to right,
        rgba(255, 0, 0, 1),
        rgba(255, 0, 180, 1),
        rgba(0, 100, 200, 1)
    );
    background-size: 100% 3px, 0 3px;
    background-position: 100% 100%, 0 100%;
    background-repeat: no-repeat;
    transition: background-size 400ms;
  }
  
.nav-enlace:hover {
    background-size: 0 3px, 100% 3px;
  }
.encabezado{
    background-color: black;
    text-align: center;
}
@media only screen and (max-width: 800px) {
    .cuadro-diplomas{width: 90%;}
    .grid-container{
        display: grid;
        grid-template-areas: initial;
        grid-gap: 10px;
        background-color: rgb(7, 7, 94);
        padding: 10px;}
    }